@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #030214;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030214;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.container {
  --uib-size: 100px;
  --uib-speed: 2.5s;
  --uib-dot-size: calc(var(--uib-size) * 0.18);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: var(--uib-dot-size);
}

.dot {
  position: absolute;
  top: calc(50% - var(--uib-dot-size) / 2);
  left: calc(0px - var(--uib-dot-size) / 2);
  display: block;
  height: var(--uib-dot-size);
  width: var(--uib-dot-size);
  border-radius: 50%;
  animation: stream var(--uib-speed) linear infinite both;
  transition: background-color 0.3s ease;
}

.dot:nth-child(2) {
  animation-delay: calc(var(--uib-speed) * -0.2);
}

.dot:nth-child(3) {
  animation-delay: calc(var(--uib-speed) * -0.4);
}

.dot:nth-child(4) {
  animation-delay: calc(var(--uib-speed) * -0.6);
}

.dot:nth-child(5) {
  animation-delay: calc(var(--uib-speed) * -0.8);
}

@keyframes stream {
  0%,
  100% {
    transform: translateX(0) scale(0);
  }

  50% {
    transform: translateX(calc(var(--uib-size) * 0.5)) scale(1);
  }

  99.999% {
    transform: translateX(calc(var(--uib-size))) scale(0);
  }
}

.animation_navigation {
  @apply relative transition-all duration-500 before:content-[''] before:transition-all before:absolute before:bottom-0 before:left-0 before:rounded-md before:h-[8%] before:bg-white data-[active]:before:w-full before:w-0 hover:before:w-full;
}

.active_navigation {
  @apply relative before:content-[''] before:transition-all before:absolute before:bottom-0 before:left-0 before:rounded-md before:h-[8%] before:bg-white before:w-full;
}